@import "@ziloen/tailwind-config/preset.css" theme(inline);
@import "@fontsource-variable/fira-code/index.css";
@import "@fontsource-variable/noto-sans-sc/index.css";


@theme {
  --font-noto-sans-sc:
    'Noto Sans SC Variable',
    'ui-sans-serif',
    'system-ui',
    'sans-serif',
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';
  --font-fira-code:
    'Fira Code Variable',
    'ui-monospace',
    'SFMono-Regular',
    'Menlo',
    'Monaco',
    'Consolas',
    'Liberation Mono',
    'Courier New',
    'monospace';
}


@layer base {

  /* 重置外部可继承属性（例如 text-align）的影响 */
  :host {
    all: initial;
  }

  /* Chrome 会继承 ::selection 样式，重置 selection 样式，防止外部主题不一致导致看不清 */
  /* background-color: revert 在 Chrome 中不起作用 */
  ::selection {
    background-color: Highlight;
    color: HighlightText;
  }

  :host,
  :root {
    font-family: --theme(--font-noto-sans-sc);
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }

  /* Chrome 会给所有 extension 页面注入 style
      body {
        font-family: "Segoe UI", Tahoma, sans-serif;
        font-size: 75%;
      }
   */
  /* https://stackoverflow.com/questions/69923665 */
  /* https://stackoverflow.com/questions/71480433 */
  body {
    font-family: --theme(--font-noto-sans-sc);
    font-size: 16px;
  }
}