@import "@ziloen/tailwind-config/preset.css" theme(inline);


@layer base {

  /* 清除外部可继承属性（例如 text-align）的影响 */
  :host {
    all: revert;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  body {
    margin: 0;
  }
}